$navy: #023047;
$blue: #219ebc;
$red: #ff5e5b;
$purple: #ab81cd;
$offWhite: #f5f5f5;

$blue1: #90e0ef;
$blue2: #48cae4;
$blue3: #00b4d8;
$blue4: #0096c7;
$blue5: #0077b6;
$blue6: #023e8a;
$blue7: #03045e;

$blue1: #90e0ef;
$blue2: #48bfe3;
$blue3: #00b4d8;
$blue4: #0096c7;
$blue5: #0077b6;
$blue6: #023e8a;
$blue7: #6930c3;

$black: #000000;
$bodyColor: #353535;
$white: #ffffff;

$headerHeight: 50px;
$backgroundDark: $navy;
$backgroundLight: $offWhite;
